@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Bigelow+Rules&family=Combo&family=Crafty+Girls&family=Emilys+Candy&family=Gamja+Flower&family=Gorditas&family=Henny+Penny&family=Irish+Grover&family=Kelly+Slab&family=Kirang+Haerang&family=Kranky&family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Sketch&family=Loved+by+the+King&family=Megrim&family=Mountains+of+Christmas&family=Mouse+Memoirs&family=Mystery+Quest&family=Original+Surfer&family=Poor+Story&family=Princess+Sofia&family=Risque&family=Ruge+Boogie&family=Single+Day&family=Snowburst+One&family=Sunshiney&family=Thasadith&family=Unkempt&family=Vibur&display=swap');

// font-family: 'Barriecito', cursive;
// font-family: 'Bigelow Rules', cursive;
// font-family: 'Combo', cursive;
// font-family: 'Crafty Girls', cursive;
// font-family: 'Emilys Candy', cursive;
// font-family: 'Gamja Flower', cursive;
// font-family: 'Gorditas', cursive;
// font-family: 'Henny Penny', cursive;
// font-family: 'Irish Grover', cursive;
// font-family: 'Kelly Slab', cursive;
// font-family: 'Kirang Haerang', cursive;
// font-family: 'Kranky', cursive;
// font-family: 'Londrina Outline', cursive;
// font-family: 'Londrina Shadow', cursive;
// font-family: 'Londrina Sketch', cursive;
// font-family: 'Loved by the King', cursive;
// font-family: 'Megrim', cursive;
// font-family: 'Mountains of Christmas', cursive;
// font-family: 'Mouse Memoirs', sans-serif;
// font-family: 'Mystery Quest', cursive;
// font-family: 'Original Surfer', cursive;
// font-family: 'Poor Story', cursive;
// font-family: 'Princess Sofia', cursive;
// font-family: 'Risque', cursive;
// font-family: 'Ruge Boogie', cursive;
// font-family: 'Single Day', cursive;
// font-family: 'Snowburst One', cursive;
// font-family: 'Sunshiney', cursive;
// font-family: 'Thasadith', sans-serif;
// font-family: 'Unkempt', cursive;
// font-family: 'Vibur', cursive;

.title-test1 {
  font-size: 120px;
  font-family: 'Barriecito', cursive;
}

.title-test2 {
  font-size: 120px;
  font-family: 'Bigelow Rules', cursive;
}

.title-test3 {
  font-size: 120px;
  font-family: 'Combo', cursive;
}

.title-test4 {
  font-size: 120px;
  font-family: 'Crafty Girls', cursive;
}

.title-test5 {
  font-size: 120px;
  font-family: 'Emilys Candy', cursive;
}

.title-test6 {
  font-size: 120px;
  font-family: 'Gamja Flower', cursive;
}

.title-test7 {
  font-size: 120px;
  font-family: 'Gorditas', cursive;
}

.title-test8 {
  font-size: 120px;
  font-family: 'Henny Penny', cursive;
}

.title-test9 {
  font-size: 120px;
  font-family: 'Irish Grover', cursive;
}

.title-test10 {
  font-size: 120px;
  font-family: 'Kelly Slab', cursive;
}

.title-test11 {
  font-size: 120px;
  font-family: 'Kirang Haerang', cursive;
}

.title-test12 {
  font-size: 120px;
  font-family: 'Kranky', cursive;
}

.title-test13 {
  font-size: 120px;
  font-family: 'Londrina Shadow', cursive;
}

.title-test14 {
  font-size: 120px;
  font-family: 'Loved by the King', cursive;
}

.title-test15 {
  font-size: 120px;
  font-family: 'Megrim', cursive;
}

.title-test16 {
  font-size: 120px;
  font-family: 'Mountains of Christmas', cursive;
}

.title-test17 {
  font-size: 120px;
  font-family: 'Mouse Memoirs', sans-serif;
}

.title-test18 {
  font-size: 120px;
  font-family: 'Mystery Quest', cursive;
}

.title-test19 {
  font-size: 120px;
  font-family: 'Original Surfer', cursive;
}

.title-test20 {
  font-size: 120px;
  font-family: 'Poor Story', cursive;
}

.title-test21 {
  font-size: 120px;
  font-family: 'Princess Sofia', cursive;
}

.title-test22 {
  font-size: 120px;
  font-family: 'Risque', cursive;
}

.title-test23 {
  font-size: 120px;
  font-family: 'Ruge Boogie', cursive;
}

.title-test24 {
  font-size: 120px;
  font-family: 'Single Day', cursive;
}

.title-test25 {
  font-size: 120px;
  font-family: 'Snowburst One', cursive;
}

.title-test26 {
  font-size: 120px;
  font-family: 'Sunshiney', cursive;
}

.title-test27 {
  font-size: 120px;
  font-family: 'Thasadith', sans-serif;
}

.title-test28 {
  font-size: 120px;
  font-family: 'Unkempt', cursive;
}

.title-test29 {
  font-size: 120px;
  font-family: 'Vibur', cursive;
}