
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
$family-sans-serif: 'Poppins', sans-serif;
$title-font: 'Mouse Memoirs', sans-serif;
$primary-color: red;
$secondary-color: #004460;
$third-color: #61E8E8;


// COLORS
// Bulma red - #ff3860
// Bulma green - #00d1b2
//#f55442
//#B24231

body {
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px !important;
}

.baggle {
  font-family: 'Mouse Memoirs', sans-serif !important;
  font-size: 20px !important;
  font-weight: none;
}

input {
  border: none !important;
  box-shadow: none !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px !important;
}

select {
  border: none;
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px !important;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px
}

textarea {
  border: none !important;
  box-shadow: none !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px !important;
}

textarea:focus, input:focus{
  outline: none
}

label {
  font-weight: bold !important;
  margin-top: 10px;
  color: #363636
}

.icon-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid lightgray;
  padding-right: 10px;
}

.red-text {
  font-weight: bold !important;
  color: $primary-color !important
}

.small-text {
  font-size: 12px;
}

.white-link {
  color: white !important;
}

:hover.white-link {
  color: $primary-color !important;
}

.emoji {
  font-size: 50px !important;
}

// ! BULMA OVERRIDE

.title {
  font-family: 'Mouse Memoirs', sans-serif !important;
  color: $secondary-color !important;
}

.button {
  font-family: 'Poppins', sans-serif !important;
}

.color-link-button {
  color: white !important;
  background-color: $primary-color !important
}

.center-row {
  display: flex;
  flex-direction: row;
}

.hero-control-button {
  height: 50px;
}


.input-large {
  font-size: 30px;
}

.hero-foot {
  background-color: $secondary-color
}

.spread {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-filler {
  height: 300px;
}


// ! NAVBAR

.navbar-logo {
  font-family: 'Mouse Memoirs', sans-serif !important;
  font-size: 40px;
  color:$primary-color;
}

.navbar-brand {
  background-color: whitesmoke
}

.navbar-menu {
  background-color: whitesmoke
}

.navbar-bold {
  color: $secondary-color;
  font-weight: bold;
}

:hover.navbar-bold {
  color: $primary-color !important;
  font-weight: bold;
}

// ! HOME PAGE

.hero-background {
  background-color: $secondary-color !important;
}

.hero-button {
  background-color: $primary-color;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  color: white !important;
  margin-top: 20px;
}

:hover.hero-button, :hover.submit-hero {
  border: 2px solid white;
  background: none;
}

.submit-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85px;
  margin-left: 10px;
  background-color: $primary-color;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  color: white;
}

.logo-title {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 200px;
  line-height: 1.2em;
  color: $primary-color;
  text-shadow: 2px 2px 2px black;
}

.hero-subtitle {
  color: white;
}

.search-container {
  margin-top: 50px;
}

.right-search {
  border-left: 3px solid $primary-color
}

.quote-text {
  font-weight: bold;
  font-size: 20px;
}

.large-home-title {
  font-size: 50px;
}

.home-image-container {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.home-image-right {
  margin-left: -80px;

}

.container-welcome {
  display: flex;
  flex-direction: column;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.homepage-copy {
  font-size: 20px
}

.carousel-section {
  background-color: $secondary-color
}

.carousel-card {
  height: 350px;
}


:hover.carousel-card {
  transform: scale(1.05);
  color: $primary-color !important;
}

.carousel-header {
  color: $primary-color;
  font-size: 70px;
  font-family: 'Mouse Memoirs', sans-serif !important;
  text-shadow: 2px 2px 2px black;
}

.carousel-footer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// ! SIGNUP PAGE

.avatar-select {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
}

.avatar-select-option {
  border: 1px solid black;
  background: white;
  height: 20px;
  
  font-size: 14px;
}

.avatar-container {
  height: 200px;
  background-color: $secondary-color;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

// ! LOGIN PAGE

.main-title-text {
  font-size: 30px;
  margin-bottom: 20px;
}

// ! PROFILE PAGE

.row {
  display: flex;
  flex-direction: row;

}

.rating-container {
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.neg-rating {
  border-top: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #ff3860;
  font-family: $title-font
}

.pos-rating {
  border-bottom: 1px solid $secondary-color;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  font-size: 50px;
  color: #00d1b2;
  font-family: $title-font
}

.banner-profile-image-container {
  width: 200px;
  border-radius: 200px;
  padding: 10px;
  padding-bottom: 25px;
}

.banner-with-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.banner-text {
  font-family: $title-font;
  font-size: 70px;
  color: white;
  text-shadow: 2px 2px 2px black;

}

.grid-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px rgba(80, 80, 80, 0.2);
  margin-bottom: 15px;
  font-family: 'Quicksand', sans-serif;
}


.cover-image-placeholder {
  width: 90%;
  background-color: lightgray;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid gray;
}

.update-form {
  background-color: whitesmoke;
  padding: 10px;
}

// ! MODAL

.modal-individual-card {
  height: 220px;
}

.Mod {
  text-align: center;
  z-index: 10;
  
}

.modalBackground {

opacity: 0;
pointer-events: none;
transition: opacity 0.4s ease-in-out;
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.7);
display: flex
}

.modalShowing-true {
  opacity: 1;
  pointer-events: visible;
}



.innerModal {
  background: #1e2939 ;
  width: 900px;
  max-width: calc(100% - 60px);
  margin: auto;
  display: flex;
  flex-direction: row;
  color: white;
  text-align: left;



}

.modalImage img {
width: 100%;
object-fit: cover;
height: 100%;


}

.modalText {
  padding: 50px;
}

.Mod button{
  padding: 13px 35px;
  margin: 20px;
  background: yellowgreen;
  border-radius: 30px;
  font-size: 12px;
  color: white;
  border: none;
  

}


.modalText button {
  display: block;
  width: 100%;
  text-align: center;
}


.exit {
  padding: 13px 35px;
  display: block;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border-radius: 30px;
  background: yellowgreen;
}

.searchBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px !important;
  // margin-top: 10px !important;
}


.outlined {
  border: solid 4px #00d1b2;
}